{% extends "base.j2" %}

{% block content %}
<h2>Events</h2>

<h3>Liste</h3>
<form method="get" action="/call/events/list">
    <button type="submit">GET /events</button>
</form>

<h3>Créer un événement</h3>
<form method="post" action="/call/events/create">
    <input name="deploymentId" placeholder="deploymentId"><br>
    <input name="type" placeholder="type"><br>
    <input name="message" placeholder="Message"><br>
    <button type="submit">POST /events</button>
</form>

{% if response %}
<h3>Réponse API</h3>
<pre>{{ response | tojson(indent=2) }}</pre>
{% endif %}
{% endblock %}
